.example-card {
  max-width: 300px;
  align: center;
  margin-left:4%;
  float: left;
}


  .oracle{
  background-image: url('C:\Users\user\Desktop\JobMates_V1\src\assets\img\oracle.png');
    background-size: cover;
  }

  .infy{
    background-image: url('C:\Users\user\Desktop\JobMates_V1\src\assets\img\infy.png');
    background-size: cover;
    
  }

  .wipro{
    background-image: url('C:\Users\user\Desktop\JobMates_V1\src\assets\img\wipro.png');
    background-size: cover;
  }

  