
<div class="container" fxLayout="row wrap" fxLayoutGap="15px" >
    <mat-card  class="item display" fxFlex="50%" *ngFor="let p of postList" >
    
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Job </mat-card-title>
              <mat-card-subtitle>Details</mat-card-subtitle>
            </mat-card-header>
    
            <p>Name:</p><span>{{p.jobid}} </span><br>
    <span>{{p.name}} </span> <br>
    <span>{{p.company}} </span> <br>
    <span>{{p.skillsSet}} </span><br>
    <span>{{p.minSalary}} </span> <br>
    <span>{{p.maxSalary}} </span><br>
    <span>{{p.recruiter}} </span> <br>
    <span>{{p.experience}} </span><br>
    <span>{{p.location}} </span> <br>
      
    
        <mat-card-actions>
        <button mat-button>Apply</button>
        <button mat-button>Read More</button>
        </mat-card-actions>
        </mat-card>
      </div>
      
      
      <!-- <mat-divider></mat-divider> -->